<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

	<defaultDriver>HtmlUnit</defaultDriver>
	

	<burpDriver>BurpHtmlUnit</burpDriver>
	
	<!-- Base URL for the application to test -->
	<baseUrl>http://localhost:9110/ropeytasks/</baseUrl>
	
	<!-- The fully qualified class name representing the application under test -->
	<class>net.continuumsecurity.examples.RopeyApp</class>

	<!-- Names of the session ID cookies -->
	<sessionIds>
		<name>JSESSIONID</name>
	</sessionIds>
	
	<users>
        <user username="bob" password="password"/>
	</users>

	<incorrectPassword>SDFsdfwjx1</incorrectPassword>
	<incorrectUsername>bobbles</incorrectUsername>

    <burp>
		<host>127.0.0.1</host>
		<port>8080</port>
		<WSUrl>http://127.0.0.1:8181/</WSUrl>

        <!-- The proxy between bdd-security and resty-burp -->
		<WSProxyHost></WSProxyHost>
		<WSProxyPort></WSProxyPort>
	</burp>
	<displayStackTrace>false</displayStackTrace>
	<storyDir>src/main/stories/</storyDir>
	<reportsDir>reports</reportsDir>
	<latestReportsDir>target/jbehave/</latestReportsDir>
</web-app>