#banner {
  background: #fff url(../images/background-banner.png) repeat top left;
}

#banner img {
  padding: 4px 0 4px 20px;
}

#footer {
  width: 100%;
  background: #fff url(../images/background-footer.png) repeat;
  color: #fff;
  border: 1px solid;
  padding: 5px 0 5px 0;
  margin-top: 50px;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
}

#footer div.left {
  float: left;
}

#uads {
  position: absolute;
  right: 40px;
  top: 100px;
}

#header {
  margin: 0 auto 0 auto;
  margin-left: 30px;
  margin-bottom: 40px;
}

#content {
  margin: 0 auto 0 auto;
  margin-left: 30px;
  text-align: left;
}

#left {
  position: absolute;
  z-index: 2;
  left: 8px;
  width: 184px;
  top: 125px;
  bottom: 8px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 0.84em;
  color: #555;
  text-align: left;
  padding: 0 0 10px 0;
  background-color: #ccc;
}

h2 {
  background-color: #ffcd13;
  opacity: 0.75;
  margin-bottom: 10px;
  padding: 5px 10px;
}

body, td, select, input, li {
  font-size: 13px;
}

div.section {
  background-color: #fff;
  position: absolute;
  top: 140px;
  padding: 15px;
  right: 10px;
  left: 210px;
}

div.section ul li, div.section ol li {
  margin-left: 35px;
}

a {
  text-decoration: none;
}

a:link {
  color: #39912b;
  font-weight: bold;
}

a:visited {
  color: #39912b;
}

a:active, a:hover {
  color: #39912b;
}

b {
  color: #333;
}

table.bodyTable th {
  color: #fff;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.logo {
  float: right;
  margin-right: 30px;
}

.clear {
  clear: both;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.right {
  text-align: right;
  margin-right: 10px;
}

.followup {
  border: 2px solid #39912b;
  margin: 10px;
  padding: 4px;
  color: black;
  background-color: #99ff99;
  visibility: visible;
  overflow: visible;
  display: table;
}

/* Menu */

#Menu {
  left: 0;
  line-height: 1;
  margin-top: 140px;
  position: absolute;
  top: 0pt;
  width: 210px;
}

.MGroup {
  font-size: 11px;
  font-weight: bold;
  padding: 0 0 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.MGroup a {
  background: #39912b none repeat scroll 0%;
  border-right: 4px solid #b3b3a1;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 6px 10px;
  text-align: right;
  text-decoration: none;
  text-shadow: #5E708E 2px 2px 1px;

}

.MGroupContent {
  font-size: 11px;
  font-weight: normal;
  padding-top: 5px;
  text-transform: none;
}

#MSelected, .MFile a:link, .MFile a:visited, .MIndex a:link, .MIndex a:visited {
  background: #232529 none repeat scroll 0%;
  border-right: 4px solid #1C1D1F;
  color: #A4ACBA;
  display: block;
  font-weight: bold;
  margin: 2px 0pt;
  padding: 4px 4px 4px 30px;
  text-align: left;
  text-decoration: none;
  text-shadow: #1C1D1F 2px 2px 1px;
}

.MFile a:hover, .MFile a:active, .MIndex a:hover, .MIndex a:active {
  background-color: #3E4043;
  border-right: 4px solid #303234;
  color: red;
  text-shadow: #303234 2px 2px 1px;
}

#MSelected {
  background-color: #fff;
  border-right: 4px solid #fff;
  color: #333;
  text-shadow: none;
}

