<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<policy>Default Policy</policy>
<scanner>
<level>MEDIUM</level>
<strength>MEDIUM</strength>
</scanner>
<plugins>
<p6>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p6>
<p7>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p7>
<p40009>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40009>
<p40012>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40012>
<p40014>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40014>
<p40018>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40018>
<p90019>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90019>
<p90020>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90020>
<p0>
<enabled>false</enabled>
</p0>
<p20019>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p20019>
<p30001>
<enabled>false</enabled>
</p30001>
<p30002>
<enabled>false</enabled>
</p30002>
<p40003>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40003>
<p40008>
<enabled>false</enabled>
</p40008>
<p40016>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40016>
<p40017>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40017>
<p50000>
<enabled>false</enabled>
</p50000>
</plugins>
</configuration>
